[Desktop Entry]
Version=1.0
Type=Application
Name=LibrePods HiiT Edition
Comment=Control your AirPods on Linux
Exec=librepods
Icon=librepods
Terminal=false
Categories=Audio;AudioVideo;Utility;Qt;
